
.App {
  margin: 0;
  text-align: center;
}

.page-title {
  padding: 1rem 0;
  color: #42c5f4;
  text-align: center;
}


.input-form {
  padding: 1rem 0;
}

.error-message {
  color: red;
  text-align: center;
}

.container__footer {
  border-top: 1px solid #eeeeee;
  padding: 1rem 1rem 0 1rem;
}

.container {
  background: #fafafa;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.container__header {
  border-bottom: 1px solid #eeeeee;
  padding: 1rem;
  margin-top: 3rem;
}
